* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    overflow: hidden;
    background-color: black;
    padding: 30px;
    text-align: center;
    display: flex;
}

.navbar a,
.navbar a#Home {
    color: white;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a#Home {
    order: -1; 
}

.navbar a:hover {
    background-color: gray;
    color: black;
}

.box {
    flex: 1; 
    max-width: 600px; 
    max-height: 600px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.box img {
    width: 100%;
    border-radius: 8px;
}

.Movies,
.TVShows,
.Music {
    display: flex;
    justify-content: space-between;
}

body h1 {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .Movies,
    .TVShows,
    .Music,
    .navbar {
        flex-direction: column;
    }
}
