* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: blanchedalmond;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color:black;
    padding: 20px;
    text-align: center;
    display: flex;
}


.navbar a,
.navbar a#Home {
    color: white;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a#Home {
    order: -1; 
}

.navbar a:hover {
    background-color: gray;
    color: black;
}

.box {
    flex: 1; 
    max-width: 1000px; 
    max-height: 1000px;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    background-color: greenyellow;

}
.box:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.box img {
    width: 100%;
    border-radius: 8px;
}

.Movies,
.TVShows,
.Music {
    display: flex;
    justify-content: space-between;
}

body h1 {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .Movies,
    .TVShows,
    .Music,
    /* .navbar, */
    .footer {
        flex-direction: column;
    }
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
.Container p{
   font-size: 17px;
}

#topimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

#topimage img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}
#titletop {
    justify-content: center;

}
#reviewfilez{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.social-links img{
    height: 50px;
    
}


